extends ../header/header.pug

block content
	h1 Cart
	
	table.table.table-bordered
		thead.thead-light
			tr
				th 
				th Name
				th Desciption
				th Amount
			tbody
				//- each cart in carts
				//- 	tr
				//- 		td
				//- 			img(src=cart.image style="width: 60px")
				//- 		td= cart.name
				//- 		td= cart.description
				//- 		//- td= cart.amount



